@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
   }

   body{
    background:#FFF2E5;
    color: #000000;
    padding: 0 1rem;
   }

   html{
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

   ul{
    list-style: none;
   }

   a{
    text-decoration: none;
   }

   header{
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
   }

   nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .laranja{
    background: #ED4D1B;
   }

   .laranja-claro{
    color: #FF9A3C;
   }

   .menu{
    display: flex;
    flex-direction: row ;
    gap: 2rem;
   }

   .logo{
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
   }

   .button-menu{
   
   border-width: 2px;
   border-style: solid;
    font-size: 1rem;
    padding: 0.5rem;
    background: #ED4D1B;
    box-shadow: 2px 5px #000000;
   }

.hero{
    display:inline-block;
    flex-direction: column;
    padding: 6rem;
    align-items: center;
    
}


.hero-titulo{
    font-size: 3rem;
    font-weight: 600;
   margin-left: 2rem;
}

.hero-palavra{
    color: #ED4D1B;
    font-size: 3rem;
    font-weight: 900;
}

.hero-descricao{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2rem;
   
}

.hero-button{
   border-width: 0.13rem;
   border-style: solid; 
   padding: 0.8rem;
   background: #ED4D1B;
   box-shadow: 3px 3px #000000;
   margin-left: 2rem;
   
   
   
}

.hero-curve{
position: relative;

 right: -110px;
 padding: 2rem;
  
}

figure{
    max-width: 65%;
    float: right;
}

.instrument-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing as needed */
  }

  .instrument{
    width: 20%;
    height: 80%;
    padding: 10px;
    border: 1px solid #000000;
    background: #ED4D1B;

  }
   